<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
                
        <link href="/bootstrap-5.3.2-dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

        <link rel="stylesheet" href="/css/font-awesome-4.7.0.min.css">

        <link href="/css/play.css" rel="stylesheet">
        
    </head>
    <body>

    <div class="container">

        <h1>{{ title }}</h1>

        <script>
            var cards = {}
            //{% for card in cards %}
            cards['{{ card["id"] }}'] = {{ card | tojson }};
            //{% endfor %}
        </script>



        <div id="new_game" class="row justify-content-md-center">
            <div class="col col-lg-8">
                <div id="next"> 
                    <div class="content">
                        Super <br />
                        Nächster Test? 
                    </div>
                    
                    <div id="result-button-group" class="btn-group" role="group" aria-label="Results">

                        <a type="button" class="btn btn-success next_test" data-level="A1,A2">Einfach A1+A2</a>
                        <a type="button" class="btn btn-warning next_test" data-level="B1,B2">Mittel B1+B2</a>
                        <a type="button" class="btn btn-danger next_test" data-level="C1,XX">Schwer ab C1</a>

                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center">

            <div class="col col-lg-8">
                
                <div id="card"> 
                    <div class="front"> 
                        <div id="front_text" class="content">
                            Front Content
                        </div>
                        <div id="statistics">

                        </div>
                    </div> 
                    <div class="back">
                        <div id="back_text" class="content">
                            Back Content
                        </div>


                      <div id="result-button-group" class="btn-group" role="group" aria-label="Results">

                        <a type="button" id="result-button-again" class="btn btn-danger">Nochmal</a>
                        <a type="button" id="result-button-easy" class="btn btn-success">Ok</a>
                    
                      </div>


                    </div> 
                </div>


            </div>
        </div>

    </div>



   
   

</body>

<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery.flip.min.js"></script>
<script src="/js/play.js"></script>


</html>